/* Prayer Engine - Fixes for Internet Explorer 7's terrible page rendering */

body#login #login-area {
	width: 360px;
	margin: 100px auto 100px auto;
	padding: 201px 20px 20px 20px;
	background: url('../../images/prayerengine/structure/backend/pe_logo.jpg') no-repeat;
	background-color: #fff;
	-moz-box-shadow: 2px 2px 0 #aaaaaa;
	-webkit-box-shadow: 2px 2px 0 #aaaaaa;
}

body#login #login-area #messages {
	margin: -20px -20px 0 -20px;
	background-color: #c8c8c8;
}

body#login #login-area p.error {
	text-align: center;
	padding: 8px 0 8px 0;
	margin: -20px -20px 10px -20px;
	font-size: 1.4em;
	color: #fff;
	background-color: #7e192b;
}

#pe-backend-content .pe-list-table tr td.delete-cell {
	width: 50px;
	text-align: right;
	padding: 0 12px 0 0;
}

#pe-backend-content .edit-form-table input.check {
	border: 0;
	padding: 0;
	width: 16px;
	display: block;
	float: left;
	margin: 6px 4px 0 3px;
}

#pe-backend-content .edit-form-table td input.check {
	border: 0;
	padding: 0;
	width: 16px;
	display: block;
	float: left;
	margin: 6px 4px 0 3px;
	clear: left;
}

#pe-backend-content .edit-form-table #pe-submit-area label {
	padding: 8px 5px 0 0;
	display: block;
	float: left;
}

#pe-backend-content .edit-form-table input.radio {
	border: 0;
}

#pe-backend-content form table {
	margin: 0 10px 10px 20px;
	width: 570px;
}

#pe-backend-content .edit-form-table td.label-cell {
	padding: 5px 8px 0 0;
	width: 90px;
	text-align: right;
}

#pe-backend-content .edit-form-table #twitter-area td.label-cell  {
	width: 50px;
}

#pe-backend-content .edit-form-table#settings-table {
	width: 580px;
}

#pe-backend-content .edit-form-table#settings-table td {
	height: 30px;
}

#pe-backend-content .edit-form-table#settings-table input, #pe-backend-content .edit-form-table#settings-table select {
	float: left;
}

#pe-backend-content .edit-form-table#settings-table input.submit {
	float: none;
}

#pe-backend-content .edit-form-table#settings-table table#swatches {
	width: 420px;
}

#pe-backend-content .edit-form-table#settings-table table#swatches td{
	height: 32px;
}

#pe-backend-content .edit-form-table#settings-table table#swatches .color_swatch {
	border: 2px solid #fff;
	width: 69px;
	display: inline-block;
}

#pe-backend-content .edit-form-table .description {
	padding: 3px 0 0 8px;
	display: inline-block;
}