/* Prayer Engine - Mobile Styles - EDIT mobile_colors.css TO RESKIN! */

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* enables you to easily size text with ems */
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, h7, p, form, ul, ol, li, blockquote { /* resets most browser styles to enhance cross-browser compatibility */
	margin: 0;
	padding: 0;
}

a:link {text-decoration: underline;}
a:visited {text-decoration: underline;}
a:hover {text-decoration: none;}
a:active {text-decoration: underline;}

/* ---------- Header and Nav ---------- */

#header {
	height: 147px; /* Change this height according to your logo */
}

h1#full-link a:link {display: block; width: 100%; text-align: center; text-decoration: none; font-size: 0.7em; font-weight: 300; height: 20px; padding: 2px 0 0 0;}
h1#full-link a:visited {display: block; width: 100%; text-align: center; text-decoration: none; font-size: 0.7em; font-weight: 300; height: 20px; padding: 2px 0 0 0;}
h1#full-link a:hover {display: block; width: 100%; text-align: center; text-decoration: none; font-size: 0.7em; font-weight: 300; height: 20px; padding: 2px 0 0 0;}
h1#full-link a:active {display: block; width: 100%; text-align: center; text-decoration: none; font-size: 0.7em; font-weight: 300; height: 20px; padding: 2px 0 0 0;}

#header .logo {
	width: 320px;
	margin: 0 auto;
}

#header .logo a:link {display: block; width: 320px; height: 147px; text-indent: -9000px;} /* Change this height according to your logo */
#header .logo a:visited {display: block; width: 320px; height: 147px; text-indent: -9000px;}
#header .logo a:hover {display: block; width: 320px; height: 147px; text-indent: -9000px;}
#header .logo a:active {display: block; width: 320px; height: 147px; text-indent: -9000px;}

#header .logo a.android:link {width: 315px;}
#header .logo a.android:visited {width: 315px;}
#header .logo a.android:hover {width: 315px;}
#header .logo a.android:active {width: 315px;}


/* ---------- Main Listing of Prayer Requests ---------- */

#main-page {
	width: 100%;
	min-height: 460px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	opacity: 1;
}

h3.title-divider {
	width: 100%;
	text-align: left;
	padding: 0 0 0 10px;
	height: 24px;
	font-size: 1.8em;
	padding: 3px 0 0 0;
}

/* List of Prayer Requests on Main Page */

a.submit-your-request {display: block; width: 296px; height: 24px; margin: 15px auto 5px auto; font-size: 1.5em; text-align: center; text-decoration: none; text-transform: uppercase; padding: 6px 0 0 0; font-style: italic; -webkit-border-radius: 5px; -moz-border-radius: 5px;}

#main-page .content ul li a.ajax-link {display: block; width: 100%; padding: 11px 0 10px 0; text-decoration: none;}

#main-page .content ul li.noborder a.ajax-link {display: block; width: 100%; padding: 11px 0 10px 0; text-decoration: none;}

#main-page .content ul li {
	list-style-type: none;
	text-align: left;
	font-size: 1.5em;
}

#main-page .content ul li a h3, #main-page .content ul li h3 { /* From Who */
	padding: 0 35px 10px 10px;
}

#main-page .content ul li a p, #main-page .content ul li p { /* Snippet of Prayer Requests */
	padding: 0 35px 10px 10px;
}

/* ---------- Selected Item Area (Where AJAX content is displayed) ---------- */

#selected-item {
	z-index: 2;
	width: 100%;
	min-height: 460px;
	position: absolute;
	top: 0;
	left: 0;
}

/* Styles for Individual Prayer Subpages */

.prayertext, #selected-item .prayertext {
	padding: 10px 20px 0 20px;
}

.prayer-header h2 {
	text-align: center;
	font-size: 2.8em;
	padding: 0 10px 5px 10px;
}

.prayer-header h3 {
	text-align: center;
	font-size: 1.5em;
	padding: 0 10px 0 10px;
}

.prayertext p {
	font-size: 1.6em;
	line-height: 120%;
	margin: 0 0 15px 0;
}

.prayertext h3, .prayertext h4 {
	font-size: 2em;
	line-height: 120%;
	margin: 0 0 15px 0;
	padding: 10px 0 0 0;
}

.prayertext h5 {
	font-size: 1.8em;
	line-height: 120%;
	margin: 0 0 15px 0;
	padding: 10px 0 0 0;
}

.prayertext ul, ol {
	margin: 0 0 15px 0;
}

.prayertext ul li, #selected-item .prayertext ul li {
	margin: 0 0 5px 20px;
	list-style-type: disc;
	font-size: 1.5em;
}

.prayertext ol li, #selected-item .prayertext ol li {
	margin: 0 0 5px 20px;
	list-style-type: decimal;
	font-size: 1.5em;
}

.prayer-header {
	padding: 5px 0 5px 0;
}

#selected-item .sub-nav {
	width: 100%;
	height: 41px;
	padding: 9px 0 0 0;
}

#selected-item a.back-link {
	display: block;
	width: 93px;
	height: 19px;
	text-align: center;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 0 11px 10px;
	padding: 2px 0 9px 0;
	font-style: italic;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
}

#selected-item a.back-link strong {font-size: 1.3em; font-weight: 300;}

a.prayer-link {display: block; width: 200px; height: 24px; margin: 15px auto 0 auto; font-size: 1.5em; text-align: center; text-decoration: none; text-transform: uppercase; padding: 6px 0 0 0; font-style: italic; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
p.thanks-for-praying {display: block; width: 200px; height: 24px; margin: 15px auto 0 auto; font-size: 1.5em; text-align: center; text-decoration: none; text-transform: uppercase; padding: 6px 0 0 0; font-style: italic; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
p.prayed-for, p.prayed-for-after {text-align: center; margin: 8px 0 10px 0; font-size: 1.6em;}

/* Prayer Submit Form */

p.form-thanks {
	margin: 0 0 10px 0;
	width: auto;
	font-size: 1.6em;
	line-height: 120%;
	padding: 10px;
}

.prayer-submit-table {
	padding: 10px;
}

.prayer-submit-table label {
	display: block;
	font-size: 2em;
	font-weight: 300;
}

.prayer-submit-table label.error {
	display: block;
	font-size: 1.6em;
	font-weight: 700;
	margin: -10px 0 10px 0;
}

.prayer-submit-table td.radioanswer {
	font-size: 2em;
	font-weight: 300;
	padding: 0 30px 9px 4px;
	height: 30px;
}

.prayer-submit-table input, .prayer-submit-table select {
	font-size: 2.2em;
	width: 270px;
	margin: 5px 0 16px 0;
}

.prayer-submit-table input.radio {
	font-size: 2.2em;
	width: 30px;
	height: 30px;
	margin: 5px 0 16px 0;
}

.prayer-submit-table textarea {
	width: 276px;
	font-size: 1.6em;
	margin: 5px 0 16px 0;
	height: 140px;
}

.prayer-submit-table textarea#prayer_tweet {
	width: 276px;
	font-size: 1.6em;
	margin: 5px 0 16px 0;
	height: 90px;
}

.twitter-counter {
	font-size: 1.4em;
	padding: 0 0 4px 0;
}

.twitter-counter #counter {
	font-weight: 700;
}

#twitter-area {
	display: none;
}

a.prayer-form-submit {display: block; width: 260px; height: 28px; margin: 5px auto 10px auto; font-size: 2em; text-align: center; text-decoration: none; text-transform: uppercase; padding: 4px 0 0 0; font-style: italic; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
a.prayer-form-submit.working {display: block; width: 260px; height: 28px; margin: 5px auto 10px auto; font-size: 2em; text-align: center; text-decoration: none; text-transform: uppercase; padding: 4px 0 0 0; font-style: italic; -webkit-border-radius: 5px; -moz-border-radius: 5px;}


/* More Prayers Link */

h3.more-prayers-link a {font-size: 1.3em; display: block; width: 100%; padding: 19px 0 18px 0; text-decoration: none; border-top: none; text-align: center;}
h3.more-prayers-link.loading a {text-indent: -9000px; font-size: 1.3em; display: block; width: 100%; padding: 19px 0 18px 0; text-decoration: none; border-top: none; text-align: center;}